/**
 * Map viewer layout css
 */

body { overflow: hidden; }

.navbar-offset { margin-top: 50px; }
#map { position: absolute; top: 50px; bottom: 0px; left: 0px; right: 0px; }
#map .ol-zoom { font-size: 1.2em; }

.zoom-top-opened-sidebar { margin-top: 5px; }
.zoom-top-collapsed { margin-top: 45px; }

.mini-submenu{
    display:none;  
    background-color: rgba(255, 255, 255, 0.46);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;  
    /*position: relative;*/
    width: 42px;
    text-align: center;
}

.mini-submenu-left {
    position: absolute;
    top: 60px;
    left: .5em;
    z-index: 40;
}
.mini-submenu-right {
    position: absolute;
    top: 60px;
    right: .5em;
    z-index: 40;
}

#map { z-index: 35; }

.sidebar { z-index: 45; }

.main-row { position: relative; top: 0; }

.mini-submenu:hover{
    cursor: pointer;
}

#sidebarBody { overflow-y: auto; }

.zoom-top-opened-sidebar { margin-top: 5px; }
.zoom-top-collapsed { margin-top: 45px; }

/**
 * WKT logo
 */

img.wkt-navbar-logo {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 60px;
    height: 60px;
}

div.wkt-logo {
    height: 90px;
}

div.wkt-logo img {
    position: absolute;
    margin: auto;
    width: 84px;
    height: 84px;
    z-index: 5;
}

p.intro {
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
}

div.tagline {
    font-size: 0.8em;
    position: absolute;
    top: 65px;
    right: 30px;
    left: 30px;
    margin: auto;
    padding-top: 5px;
    padding-left: 96px; 
    color: #FFFFFF;
    background-color: #12A2AB;
}

a.navbar-brand { padding-left: 65px; }

@media (max-width: 992px) and (min-width: 767px) {

    div.wkt-logo {
        height: 120px;
    }

    div.wkt-logo img {
        top: 72px;
        width: 64px;
        height: 64px;
    }
    div.tagline {
        top: 65px;
        right: 32px;
        left: 32px;
        margin: auto;
        padding-top: 5px;
        padding-left: 72px; 
    }
}

@media (max-width: 767px) {
    a.navbar-brand { padding-left: 65px; }

    div.wkt-logo img {
        top: 64px;
        width: 72px;
        height: 72px;
    }
    div.tagline {
        top: 80px;
        right: 16px;
        left: 16px;
        margin: auto;
        padding-top: 5px;
        padding-left: 92px; 
    }
}

/**
 * OpenLayers overrides
 */
.olControlZoom a {
    width: 35px !important;
    height: 35px !important;
    line-height: 35px !important; /* Ensures vertical alignment of text */
}

.olControlTextButtonPanel .olButton {
    width: 35px !important;
    height: 35px !important;
    line-height: 35px !important; /* Ensures vertical alignment of text */
}
.olControlMousePosition { top: 0px; }
.olControlScale { top: 15px; }
.goog-sat-text { color: #FFFFFF; }

/**
 * OpenLayers TextButtonPanel
 *
 */
.olControlTextButtonPanel.vpanel {
    top: auto;
    bottom: 40px;
    left: 8px;
    right: auto;
}

.olControlTextButtonPanel.hpanel {
    top: auto;
    bottom: 8px;
    left: 8px;
    right: auto;
}
div.olControlTextButtonPanel {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
div.olControlTextButtonPanel .olButton {
    display: block;
    margin: 1px;
    width: 28px; /* Same size as +/- in zoom control */
    height: 28px; /* Same size as +/- in zoom control */
    line-height: 28px; /* Ensures vertical alignment of text */
    font-size: 14px;
    color: white;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background: #130085; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 60, 136, 0.5);
    filter: alpha(opacity=80);
}
div.olControlTextButtonPanel .olButton:hover {
    background: #130085; /* fallback for IE */
    background: rgba(0, 60, 136, 0.7);
    filter: alpha(opacity=100);
}
@media only screen and (max-width: 600px) {
    div.olControlTextButtonPanel .olButton:hover {
        background: rgba(0, 60, 136, 0.5);
    }
}

/**
 * Bootstrap navbar style tweaks to match GCA color scheme
 */

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #05761f !important;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, #218638 0%, #0D551D 100%) !important;
    background-color: #227C3B !important;
    border-color: #1D5214 !important;
}

.navbar-inverse .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, #145E1A 0%, #12380D 100%) !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #15380C !important;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #0E500E !important;
}

.navbar-inverse .navbar-toggle {
    border-color: #0E500E !important;
}

.navbar-inverse .navbar-brand {
    color: #E7DBDB !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #E7DBDB !important;
}

@media (min-width: 767px) and (max-width: 992px) {
    .navbar-btn-label {
        display: none;
    }
}

/**
 * Photo sidebar
 */

.flickr-thumbnail { display: inline; margin-left: 4px; margin-right: 4px; }
.album-pager { display: block; }
.flickr-thumbnail-grid { display: block; margin-top: 50px; }

/* Give some style to the file input field */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.floating-map-message {
    position: absolute;
    left: 60px;
    right: 60px;
    top: 60px;
    z-index: 40;
    cursor: pointer;
}