/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 51px;
}
@media (min-width: 768px) {
  body {
    padding-top: 70px;
  }
}
footer {
  padding: 30px 0;
}

/* App-specific */
#map { height: 480px; }
/* #uploadForm { margin-top: 10px; } */
#sidebarToggler {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 50px;
}
.olControlMousePosition { top: 0px; }
.olControlScale { top: 15px; }
.goog-sat-text { color: #FFFFFF; }

/* CSS hack to force centered images in Bootstrap Carousel */
.carousel-item-inner {
  text-align: center;
  img {
    margin: 0 auto;
  }
}
.carousel-bg-dark {
  background: #454545;
}
.carousel-control {
  vertical-align: center  
}

/* Give some style to the file input field */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -70%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 70%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 72%; /* 6 columns */
  }
}