var config = {
  URL: 'http://localhost:3000', // url end point. [Github IO: https://shielded-sea-6230.herokuapp.com] [Local dev: http://localhost:3000]
  FLICKR_API_KEY: '', // flickr api key
  ADMIN_BYPASS_AUTH: false // if true disables checking flickr for admin privileges
};