<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Witness King Tides</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="css/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" href="css/blueimp-gallery.min.css" />
        <link rel="stylesheet" href="css/bootstrap-image-gallery.css" />
        <link rel="stylesheet" href="js/theme/default/style.css" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="images/kingtide-apple-touch-icon.png" />
        <link rel="stylesheet" href="css/app.css" />
        <script id="homeSidebar" type="template">
            <div class="wkt-logo">
                <img src="images/wkt_logo.png" alt="Witness King Tides Logo" />
                <div class="tagline">
                    <strong>Snap the sea, see the future</strong>
                    <p>What could Australia's coast look like in the future?</p>
                </div>
            </div>
            <p class="intro">Witness King Tides is a fun community photography project that asks people to snap pics of local landmarks when tides are high, to help local communities visualise and document the impacts of sea levels rise</p>
            <div class="well hidden-xs">
                <strong>Legend</strong>
                <div id="legend">
                    <ul class="list-unstyled">
                        <li>
                            <div id="layer-toggle-tides" class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <img src="images/water.png" />&nbsp;&nbsp;King Tide Events
                                </label>
                            </div>
                        </li>
                        <li>
                            <div id="layer-toggle-photos" class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <img src="images/camera.png" />&nbsp;&nbsp;Flickr Photos
                                </label>
                            </div>
                        </li>
                        <li>
                            <div id="layer-toggle-gps" class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <img src="images/marker.png" />&nbsp;&nbsp;Your current location
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="list-group">
                    <a class="list-group-item" href="#upload"><i class="fa fa-camera"></i>&nbsp;Upload a Photo<span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
                    <a class="list-group-item" href="#photos"><i class="fa fa-picture-o"></i>&nbsp;View Photos<span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
                    <a class="list-group-item visible-xs close-sidebar" href="javascript:void(0)"><i class="fa fa-globe"></i>&nbsp;Map<span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
                    <!--
                    <a class="list-group-item" href="#tides"><i class="fa fa-search"></i>&nbsp;See Tides<span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
                    -->
                </div>

                <div class="well well-sm">
                    Find BoM high tide times near you
                    <a href="http://www.bom.gov.au/australia/tides/" target="_blank">http://www.bom.gov.au/australia/tides/</a>
                </div>
            </div>
        </script>
        <script id="albumPager" type="template">
            <div class="btn-toolbar pull-left" role="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary btn prev-album-page <% if (pageNo <= 1) { %>disabled<% } %>" title="Previous Page"><i class="fa fa-arrow-left"></i></a>
                    <a class="btn btn-primary btn next-album-page <% if (pageNo >= pages) { %>disabled<% } %>" title="Next Page"><i class="fa fa-arrow-right"></i></a>
                    <a class="btn btn-primary btn refresh-album" title="Refresh Album"><i class="fa fa-refresh"></i></a>
                    <a class="btn btn-primary btn hidden-xs zoom-photo-page-bounds" title="Zoom to region"><i class="fa fa-arrows-alt"></i></a>
                    <a class="btn btn-primary btn filter-photostream" title="Filter this photostream"><i class="fa fa-filter"></i>&nbsp;Filter</a>
                </div>
                <!--
                <div class="btn-group">
                    <a class="btn btn-primary btn-sm album-page-extents" title="Zoom to the geographic extents of this page of photos"><i class="fa fa-arrows-alt"></i></a>
                    <a class="btn btn-primary btn-sm album-year-filter" title="Filter this album by year of photo"><i class="fa fa-calendar"></i></a>
                    <a class="btn btn-primary btn-sm album-photoset-filter" title="Filter this album by photo set"><i class="fa fa-picture-o"></i></a>
                </div>
                -->
            </div>
            <span class="pull-right">
                Page <%= pageNo %>/<%= pages %>
            </span>
        </script>
        <script id="filterDialog" type="template">
            <div class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><i class="fa fa-filter"></i>&nbsp;Filter Photostream</h4>
                        </div>
                        <div class="modal-body">
                            <p>Choose the following filters to apply to the photostream.</p>
                            <div class="form-group">
                                <label><input type="checkbox" name="albumFilter" value="year" class="filter-year" <%= year ? 'checked=\"checked\"' : ''%> >
                                Year:</label>
                                <select class="form-control" id="filterYear" name="filterYear">
                                    <% for (var y = toYear; y >= fromYear; y--) { %>
                                    <% if (y == year) { %>
                                    <option value="<%= y %>" selected="selected"><%= y %></option>
                                    <% } else { %>
                                    <option value="<%= y %>"><%= y %></option>
                                    <% } %>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label><input type="checkbox" name="albumFilter" value="bbox" class="filter-bbox" <%= bbox ? 'checked=\"checked\"' : ''%>>
                                My current map view</label>
                            </div>
                            <a class="btn btn-primary apply-filter">Apply</a>
                            <a class="btn btn-primary reset-filter">Reset</a>
                            <a class="btn btn-default cancel-btn">Cancel</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </script>
        <script id="photosLegend" type="template">
            <div class="well">
                <p><span class="flickr-thumbnail-with-geo">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;: Photos with geographic information</p>
                <p><span class="flickr-thumbnail-without-geo">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;: Photos without geographic information</p>
            </div>
        </script>
        <script id="photosSidebar" type="template">
            <div class="album-pager">

            </div>
            <div class="flickr-thumbnail-grid">

            </div>
            <div class="album-pager">

            </div>
            <p class="intro" style="visibility: hidden">HACK: If you are reading this, this text you will never see because the sole purpose of this paragraph is to pad out the sidebar enough to fill the whole screen</p>
        </script>
        <script id="uploadSidebar" type="template">
            <div id="errorSummary" class="alert alert-danger"></div>
            <form id="uploadForm" name="uploadForm">
                <div class="form-group">
                    <div class="control-group">
                        <label class="control-label" for="txtFirstName">* First Name</label>
                        <input type="text" class="form-control input-sm" id="txtFirstName" name="FirstName" placeholder="Enter First Name">
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="txtSurname">Surname</label>
                        <input type="text" class="form-control input-sm" id="txtSurname" placeholder="Enter Surname">
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="txtEmail">* Email Address</label>
                        <input type="email" class="form-control input-sm" id="txtEmail" name="Email" placeholder="Enter Email">
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="dtDate">Date of Photo</label>
                        <div class="input-group">
                        <input type="datetime" class="form-control input-sm" id="dtDate" name="CreationDate" placeholder="Enter Date of Photo">
                            <span class="input-group-btn">
                                <a class="btn btn-primary btn-sm btn-search" id="currentTimeButton"><i class="fa fa-clock-o"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="photoLocation">Photo Location <a href="javascript:void(0)" id="manualLocationToggle">(Manually change)</a></label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" id="photoLocation" name="PhotoLocation" placeholder="Enter Photo Location" readonly="readonly" />
                            <span class="input-group-btn">
                                <a class="btn btn-primary btn-sm btn-search" id="photoLocationButton"><i class="fa fa-map-marker"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="txtDescription">Description</label>
                        <textarea id="txtDescription" name="Description" class="form-control" rows="1" placeholder="Describe this photo"></textarea>
                        <span id="photoFileButton" class="btn btn-default btn-file">
                            <i class="fa fa-camera"></i>&nbsp;<span id="photoFileButtonText">Select Photo</span> <input type="file" id="photoFile" class="fileButton" name="PhotoFile" multiple>
                        </span>
                        <!--
                        <iframe id="uploadTarget" name="uploadTarget" src="about:blank" style="width:0;height:0;border:0px solid #fff;" />
                        -->
                    </div>
                </div>
                <div class="well well-sm">
                    <div class="control-group">
                        <label>
                        <input type="checkbox" id="chkAcceptTerms" name="chkAcceptTerms" /> I have read and agree to the <a href="javascript:void(0)" data-wkt-role="terms">terms and conditions</a></label>
                    </div>
                    <div class="control-group">
                        <label>
                        <input type="checkbox" id="chkAcceptCC" name="chkAcceptCC" /> I agree to share my photos under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Non Commercial-Share Alike license</a>
                        </label>
                    </div>
                </div>

                <a id="btnSubmitUpload" class="btn btn-success disabled"><i class="fa fa-check"></i>&nbsp;Submit</a>
                <a id="btnCancelUpload" class="btn btn-danger" href="javascript:history.back()"><i class="fa fa-times"></i>&nbsp;Cancel</a>
                <span id="formStatus"></span>
            </form>
        </script>
        <script id="tidesSidebar" type="template">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>&nbsp;<i class="fa fa-camera"></i>&nbsp;<%= title %></strong>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <% for (var i = 0; i < tides.length; i++) { %>
                        <a href="#" class="list-group-item active">
                            <h4 class="list-group-item-heading">Item Title</h4>
                            <p class="list-group-item-text">Item Body</p>
                        </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </script>
        <script id="progressModal" type="template">
            <div class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"><i class="fa fa-cloud-upload"></i>&nbsp;Uploading Photo</h4>
                        </div>
                        <div class="modal-body">
                            <p><i class="fa fa-spinner fa-spin"></i>&nbsp;<span id="progressMessage">Uploading Photo. Please wait.</span></p>
                            <progress id="progress" max="100" value="0" />
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </script>
        <script id="termsModal" type="template">
            <div class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><i class="fa fa-legal"></i>&nbsp;Terms&nbsp;&amp;&nbsp;Conditions</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                You grant permission to Green Cross Australia and its partners in relation to the Witness King Tides projects (including the Commonwealth Department of Climate Change and Energy Efficiency, the Queensland Department of Community Safety and the Queensland Department of Environment and Resource Management) to use photos and images you upload to the site for photo mosaic, website display, presentation, evaluation and other publications and activities under the terms of the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"> NonCommercial-ShareAlike creative commons license.</a>
                            </p>
                            <p>
                                You are responsible for ensuring that you have the right to upload the image and that it is appropriate for display. Green Cross Australia reserves the right to remove any images in its absolute discretion.
                            </p>
                            <p>
                                To the extent permitted by law, Green Cross Australia takes no responsibility for any loss or damage that any participant may incur  as a result  of taking part in the Witness King Tides project.
                            </p>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </script>
        <script id="tideModal" type="template">
            <div class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><i class="fa fa-tint"></i>&nbsp;Tide Information</h4>
                        </div>
                        <div class="modal-body">
                            <p>The tidal gauge in this area is measured at <strong><%= location %></strong>.</p>
                            <hr />
                            <p class='loading'><i class="loading fa fa-spinner fa-spin"></i> Loading...</p>
                            <p class='showHighTide'>Next High Tide <strong class='highTide'><%= highTideDate %></strong></p>
                            <p class='showLowTide'>Next Low Tide <strong class='lowTide'><%= lowTideDate %></strong></p>
                            <p class='showStartDate'>The king tide will occur on <strong class='startDate'><%= startDate %></strong></p>
                            <p class='showStartDate'>You can witness the effect of a king tide in this area between <strong class='dateRange'><%= range() %></strong></p>
                            <div class="well">
                                To find the published Bureau of Meteorology time tables for this tidal gauge go to <br />
								<a target="_blank" href="http://www.bom.gov.au/australia/tides/#!/<%= urlfragment %>">http://www.bom.gov.au/australia/tides/#!/<%= urlfragment %></a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" href="http://www.witnesskingtides.org/participate/register-to-participate.aspx" target="_blank">Register Now</a>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </script>
        <script id="lightbox" type="template">
            <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
            <div id="blueimp-gallery" class="blueimp-gallery">
                <!-- The container for the modal slides -->
                <div class="slides"></div>
                <!-- Controls for the borderless lightbox -->
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
                <!-- The modal dialog, which will be used to wrap the lightbox content -->
                <div class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body next"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left prev">
                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                    Previous
                                </button>
                                <button type="button" class="btn btn-primary next">
                                    Next
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script id="photoModal" type="template">
            <div class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">
                                <i class="fa fa-camera"></i>&nbsp;Photo Information (<%= photos.length + ((photos.length > 1) ? " photos" : " photo") %>)
                            </h4>
                        </div>
                        <div class="modal-body carousel-bg-dark">
                            <div id="photo-carousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <!--
                                <ol class="carousel-indicators">
                                  <% for (var i = 0; i < photos.length; i++) { %>
                                    <% if (i == 0) { %>
                                    <li data-target="#photo-carousel" data-slide-to="<%= i %>" class="active"></li>
                                    <% } else { %>
                                    <li data-target="#photo-carousel" data-slide-to="<%= i %>"></li>
                                    <% } %>
                                  <% } %>
                                </ol>
                                -->
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <% for (var i = 0; i < photos.length; i++) { %>
                                    <% if (i == 0) { %>
                                    <div class="item active">
                                    <% } else { %>
                                    <div class="item">
                                    <% } %>
                                        <div class="carousel-item-inner">
                                            <img src="<%= getPhotoUrl(photos[i]) %>" alt="<%= photos[i].attributes.title %>">
                                            <div class="carousel-caption">
                                                <%= photos[i].attributes.title %>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-toolbar" role="toolbar">
                                <% if (photos.length > 1) { %>
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="#photo-carousel" data-slide="prev">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                    <a class="btn btn-primary" href="#photo-carousel" data-slide="next">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                                <% } %>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="http://www.greencrossaustralia.org"><img src="images/logo.png" alt="logo" title="A Green Cross Australia project" class="wkt-navbar-logo" /></a>
                        <a class="navbar-brand" href="http://www.witnesskingtides.org">&nbsp;Witness King Tides</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active navbar-link home-link"><a href="#home" title="Home"><i class="fa fa-home"></i>&nbsp;<span><span class="navbar-btn-label">Home</span></span></a></li>
                            <li class="navbar-link upload-link"><a href="#upload" title="Upload Photo"><i class="fa fa-camera"></i>&nbsp;<span><span class="navbar-btn-label">Upload Photo</span></span></a></li>
                            <li class="navbar-link photos-link"><a href="#photos" title="View Photos"><i class="fa fa-picture-o"></i>&nbsp;<span><span class="navbar-btn-label">View Photos</span></span></a></li>
                            <li class="visible-xs"><a class="map-command" href="javascript:void(0)"><i class="fa fa-globe"></i>&nbsp;Map &amp; Tide Times</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i>&nbsp;<span><span class="navbar-btn-label">Map Layers</span></span><b class="caret"></b></a>
                                <ul id="map-layer-switcher" class="dropdown-menu">
                                    <li><a href="javascript:void(0)" class="base-layer-item" data-layer-name="goog-phys"><i class="fa fa-globe"></i>&nbsp;Google Physical</a></li>
                                    <li><a href="javascript:void(0)" class="base-layer-item" data-layer-name="goog-street"><i class="fa fa-globe"></i>&nbsp;Google Street</a></li>
                                    <li><a href="javascript:void(0)" class="base-layer-item" data-layer-name="goog-hybrid"><i class="fa fa-globe"></i>&nbsp;Google Hybrid</a></li>
                                    <li><a href="javascript:void(0)" class="base-layer-item" data-layer-name="goog-satellite"><i class="fa fa-globe"></i>&nbsp;Google Satellite</a></li>
                                    <li><a href="javascript:void(0)" class="base-layer-item" data-layer-name="osm"><i class="fa fa-globe"></i>&nbsp;OpenStreetMap</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-info-circle"></i>&nbsp;<span><span class="navbar-btn-label">More Information</span></span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a target="_blank" href="http://www.witnesskingtides.org/about-us.aspx">About</a></li>
                                    <li><a target="_blank" href="http://www.witnesskingtides.org/participate.aspx">Participate</a></li>
                                    <li><a target="_blank" href="http://www.witnesskingtides.org/plan-your-shoot.aspx">Plan your shoot</a></li>
                                    <li><a target="_blank" href="http://www.witnesskingtides.org/what-are-king-tides.aspx">What are king tides?</a></li>
                                    <li><a target="_blank" href="http://www.witnesskingtides.org/participate/tide-trackers.aspx">Meet our Tide Trackers</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="pull-right"><a href="http://www.flickr.com/photos/witnesskingtides/" target="_blank"><i class="fa fa-flickr"></i></a></li>
                            <li class="pull-right"><a href="http://www.linkedin.com/company/green-cross-australia" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li class="pull-right"><a href="https://twitter.com/GreenCrossAus" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="pull-right"><a href="https://www.facebook.com/GreenCrossAus" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="pull-right"><a href="https://www.instagram.com/GreenCrossAus" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <div class="navbar-offset"></div>
        <div id="map"></div>
        <div class="row main-row">
            <div class="col-sm-4 col-md-4 sidebar sidebar-left pull-left">
                <div class="panel-group sidebar-body" id="accordion-left">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span>
                                    <i id="sidebarIcon" class="fa fa-spinner fa-spin"></i>
                                    <span id="sidebarTitle">Loading</span>
                                    <button class="btn btn-info btn-xs pull-right slide-submenu">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                                </span>
                            </h4>
                        </div>
                        <div id="sidebarBody" class="panel-body">
                            <div class="well">
                                <i class="fa fa-spinner fa-spin"></i>&nbsp;Loading. Please wait.
                            </div>
                            <p class="intro" style="visibility: hidden">HACK: If you are reading this, this text you will never see because the sole purpose of this paragraph is to pad out the sidebar enough to fill the whole screen</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 mid"></div>
        </div>
        <div class="mini-submenu mini-submenu-left pull-left">
            <i id="sidebarTogglerIcon"></i>
        </div>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//maps.google.com/maps/api/js?v=3&sensor=false"></script>
        <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
        <script type="text/javascript" src="js/Modernizr.js"></script>
        <script type="text/javascript" src="js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="js/jquery.blueimp-gallery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-image-gallery.js"></script>
        <script type="text/javascript" src="js/OpenLayers.js"></script>
        <script type="text/javascript" src="js/exif.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>   
